* { box-sizing: border-box; }
.mt-40 { margin-top: 40px; }
.mb-40 { margin-bottom: 40px; }
.hide { display: none; }
.text-center { text-align: center; }

.alert {
	background-color: #f5aa23;
	color: #fff;
	text-align: center;
	font-size: 16px;
	height: 46px;
	line-height: 46px;
}

.alert > .icon {
	width: 20px;
	display: inline-block;
	vertical-align: middle;
}

.tab-title-1,
.tab-title-2 {
	color: #006b84;
	font-size: 18px;
	width: 140px;
	height: 30px;
	line-height: 28px;
	border-radius: 20px;
	border: 1px solid #006b84;
	position: relative;
	display: inline-block;
	text-align: center;
}

#image-switch-2:checked ~ .image-switch-wrapper > .tab-title-2,
#image-switch-1:checked ~ .image-switch-wrapper > .tab-title-1 {
	background-color: #006b84;
	color: #fff;
}

#image-switch-1 ~ .image-switch-wrapper > .tab-title-2  {
	margin-left: 10px;
}

#image-switch-2:checked ~ .main-image > .img-2,
#image-switch-1:checked ~ .main-image > .img-1 {
	display: block;
}

#image-switch-2:checked ~ .feature-list > .feature-2,
#image-switch-1:checked ~ .feature-list > .feature-1 {
	display: block;
}

#image-switch-2:checked ~ .contact > .contact-2,
#image-switch-1:checked ~ .contact > .contact-1 {
	display: block;
}

.image-switch-wrapper {
	padding: 27px 0;
}

.main-image > img {
	width: 100%;
	box-shadow: 0 0 5px 0 #e3e3e2;
}

.feature-preview {
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 55px;
	position: relative;
}

.feature-preview > img {
	width: 100%;
	box-shadow: 0 0 2px 1px #e3e3e2;
	border-radius: 10px;
}

.feature-preview > .title {
	line-height: 28px;
	font-size: 16px;
	color: #4a4a4a;
	text-align: center;
	width: 150px;
	height: 30px;
	border-radius: 15px;
	border: 1px solid #979797;
	margin: 0 auto;
	top: -15px;
	left: 50%;
	transform: translateX(-50%);
  position: absolute;
  background-color: #fff;
}

.text-list {
	list-style: none;
	padding-left: 0;
	line-height: 2em;
	color: #4a4a4a;
	text-align: center;
	padding: 0 20px;
}

.text-list > li {
	border-bottom: 1px solid #ccc;
	font-size: 14px;
}

.text-list > li:first-child {
	border-top: 1px solid #ccc;
}
